<?xml version="1.0"?>

<launch>
  <env name="GAZEBO_MODEL_PATH" value="$(find multi_fetch_gazebo)/models:$(optenv GAZEBO_MODEL_PATH)"/>
  <arg name="world_file_path" default="$(find multi_fetch_gazebo)/worlds/maze.world"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(arg world_file_path)"/>
  </include>
</launch>
