<?xml version="1.0"?>

<launch>
  <arg name="world_file_path" default="$(find multi_fetch_gazebo)/worlds/big_livingroom.world"/>
  <arg name="world_name" default="map"/>
  <arg name="robot_name" default="fetch_"/>
  <arg name="robot_num" default="3"/>
  <arg name="base_controller_publish_frequency" default="100.0"/>
  <arg name="robot_x" default="0.0" />
  <arg name="robot_y" default="0.0" />
  <arg name="robot_z" default="0.0" />
  <arg name="robot_yaw" default="0.0" />

  <include file="$(find multi_fetch_gazebo)/launch/environment.launch">
    <arg name="world_file_path" value="$(arg world_file_path)"/>
  </include>

  <include file="$(find fetch_gazebo)/launch/indexed_fetch.launch" if="$(eval arg('robot_num') > 0)">
    <arg name="robot_name" value="fetch_" />
    <arg name="robot_idx" value="0" />
    <arg name="base_controller_publish_frequency" value="$(arg base_controller_publish_frequency)"/>
    <arg name="x" value="$(eval arg('robot_x') + 0.0)" />
    <arg name="y" value="$(eval arg('robot_y') + 0.0)" />
    <arg name="z" value="$(eval arg('robot_z') + 0.0)" />
    <arg name="yaw" value="$(eval arg('robot_yaw') + 0.0)" />
  </include>

  <include file="$(find fetch_gazebo)/launch/indexed_fetch.launch" if="$(eval arg('robot_num') > 1)">
    <arg name="robot_name" value="fetch_" />
    <arg name="robot_idx" value="1" />
    <arg name="base_controller_publish_frequency" value="$(arg base_controller_publish_frequency)"/>
    <arg name="x" value="$(eval arg('robot_x') + 0.0)" />
    <arg name="y" value="$(eval arg('robot_y') + 1.0)" />
    <arg name="z" value="$(eval arg('robot_z') + 0.0)" />
    <arg name="yaw" value="$(eval arg('robot_yaw') + 0.0)" />
  </include>

  <include file="$(find fetch_gazebo)/launch/indexed_fetch.launch" if="$(eval arg('robot_num') > 2)">
    <arg name="robot_name" value="fetch_" />
    <arg name="robot_idx" value="2" />
    <arg name="base_controller_publish_frequency" value="$(arg base_controller_publish_frequency)"/>
    <arg name="x" value="$(eval arg('robot_x') + 0.0)" />
    <arg name="y" value="$(eval arg('robot_y') - 1.0)" />
    <arg name="z" value="$(eval arg('robot_z') + 0.0)" />
    <arg name="yaw" value="$(eval arg('robot_yaw') + 0.0)" />
  </include>

  <include file="$(find robot_position_pub)/launch/pub_robot_position_tf.launch">
    <arg name="world_name" value="$(arg world_name)"/>
    <arg name="robot_name" value="$(arg robot_name)"/>
    <arg name="robot_num" value="$(arg robot_num)"/>
  </include>

</launch>

