<?xml version="1.0"?>

<launch>
  <arg name="world_file_path" default="$(find multi_robot_gazebo)/worlds/big_livingroom.world"/>
  <arg name="world_name" default="map"/>
  <arg name="robot_name" default="kinect_camera_"/>
  <arg name="robot_num" default="3"/>

  <include file="$(find multi_robot_gazebo)/launch/environment.launch">
    <arg name="world_file_path" value="$(arg world_file_path)"/>
  </include>

  <include file="$(find gsm_topic_sync)/launch/gsm_camera_data_pub.launch">
    <arg name="world_name" value="$(arg world_name)"/>
    <arg name="robot_num" value="$(arg robot_num)"/>
    <arg name="robot_name" value="$(arg robot_name)"/>
  </include>

  <include file="$(find multi_robot_gazebo)/launch/self_launch.launch">
    <arg name="robot_num" value="$(eval arg('robot_num') - 1)"/>
    <arg name="robot_name" value="$(arg robot_name)"/>
  </include>

</launch>
