<?xml version="1.0"?>

<launch>
  <arg name="robot_num" default="1"/>
  <arg name="robot_name" default="kinect_camera_"/>

  <param name="$(arg robot_name)$(arg robot_num)_description"
    command="$(find xacro)/xacro $(find multi_robot_gazebo)/urdf/kinect_camera.xacro idx:=$(arg robot_num)"/>

  <node name="$(arg robot_name)$(arg robot_num)_urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
    args="-urdf -model $(arg robot_name)$(arg robot_num) -param $(arg robot_name)$(arg robot_num)_description" />

  <include file="$(find multi_robot_gazebo)/launch/self_launch.launch" if="$(eval arg('robot_num') > 0)">
    <arg name="robot_num" value="$(eval arg('robot_num') - 1)"/>
    <arg name="robot_name" value="$(arg robot_name)"/>
  </include>

</launch>
