<?xml version="1.0"?>

<launch>

  <!-- Navigation requires at least one map.
       In addition, it is sometimes desirable to have a "keepout" map
       which is used for costmaps, but not localization -->
  <arg name="map_file" default="$(find fetch_gazebo_demo)/maps/test_zone.yaml" />
  <arg name="map_keepout_file" default="$(find fetch_gazebo_demo)/maps/test_zone.yaml" />
  <arg name="use_keepout" default="false" />
  <arg name="launch_map_server" default="false" />
  <arg name="use_map_topic"  default="true" />
  <arg name="robot_idx" default="0" />

  <group ns="fetch_$(arg robot_idx)">
    <param name="amcl/odom_frame_id" value="fetch_$(arg robot_idx)/odom"/>
    <param name="amcl/base_frame_id" value="fetch_$(arg robot_idx)/base_link"/>

    <param name="move_base/global_costmap/width" value="40.0"/>
    <param name="move_base/global_costmap/height" value="40.0"/>
    <param name="move_base/global_costmap/resolution" value="0.05"/>
    <param name="move_base/global_costmap/origin_x" value="-20.0"/>
    <param name="move_base/global_costmap/origin_y" value="-20.0"/>

    <param name="move_base/global_costmap/robot_base_frame" value="fetch_$(arg robot_idx)/base_link"/>
    <param name="move_base/local_costmap/robot_base_frame" value="fetch_$(arg robot_idx)/base_link"/>

    <param name="move_base/global_costmap/obstacles/publish_observations" value="true"/>
    <param name="move_base/local_costmap/obstacles/publish_observations" value="true"/>

    <param name="move_base/global_costmap/always_send_full_costmap" value="true"/>
    <param name="move_base/local_costmap/always_send_full_costmap" value="true"/>

    <param name="move_base/local_costmap/global_frame" value="fetch_$(arg robot_idx)/odom"/>

    <!-- Navigation parameter files -->
    <arg name="move_base_include" default="$(find multi_robot_gazebo)/launch/include/move_base.launch.xml" />
    <arg name="amcl_include" default="$(find multi_robot_gazebo)/launch/include/amcl.launch.xml" />

    <!-- set topics -->
    <arg name="scan_topic" default="base_scan" />
    <arg name="map_topic" default="map" />
    <arg name="cmd_vel_topic" default="cmd_vel" />
    <arg name="odom_topic" default="odom" />

    <group if="$(arg launch_map_server)">
      <!-- serve up a map -->
      <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

      <!-- serve up a map with keepout zones -->
      <group if="$(arg use_keepout)" >
      <node name="map_keepout_server" pkg="map_server" type="map_server" args="$(arg map_keepout_file)" >
        <remap from="map" to="map_keepout" />
        <remap from="static_map" to="static_map_keepout" />
      </node>
      </group>
    </group>

    <!-- localize the robot -->
    <include file="$(arg amcl_include)" >
      <arg name="scan_topic" value="$(arg scan_topic)" />
      <arg name="map_topic" value="$(arg map_topic)" />
      <arg name="use_map_topic" value="$(arg use_map_topic)" />
    </include>

    <!-- move the robot -->
    <include file="$(arg move_base_include)" >
      <arg name="name" value="fetch" />
      <arg if="$(arg use_keepout)" name="map_topic" value="map_keepout" />
      <arg unless="$(arg use_keepout)" name="map_topic" value="$(arg map_topic)" />
      <arg name="cmd_vel_topic" value="$(arg cmd_vel_topic)" />
      <arg name="odom_topic" value="$(arg odom_topic)" />
    </include>

    <!-- tilt the head -->
    <node pkg="multi_robot_gazebo" type="multi_fetch_tilt_head.py" name="tilt_head_node" output="screen"/>
  </group>

</launch>
