<?xml version="1.0"?>

<launch>

  <arg name="robot" default="fetch"/>
  <arg name="debug" default="false"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>

  <!-- Start Gazebo with a blank world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="headless" value="$(arg headless)"/>
  </include>

  <include file="$(find fetch_gazebo)/launch/indexed_fetch.launch">
    <arg name="x" value="0.0" />
    <arg name="y" value="0.0" />
    <arg name="z" value="0.0" />
    <arg name="robot_name" value="fetch_" />
    <arg name="robot_idx" value="0" />
  </include>

  <include file="$(find fetch_gazebo)/launch/indexed_fetch.launch">
    <arg name="x" value="1.0" />
    <arg name="y" value="1.0" />
    <arg name="z" value="0.0" />
    <arg name="robot_name" value="fetch_" />
    <arg name="robot_idx" value="1" />
  </include>

</launch>
